* {
    box-sizing: border-box;
}
body {
    background-color: #3c3c3c;
    color: #ffffff;
}
form {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 240px;
    height: 100px;
}
form input {
    outline: none;
    height: 32px;
    border-radius: 8px;
    padding-left: 8px;
    text-align: center;
}
form input::placeholder {
    text-align: center;
}
form button {
    height: 32px;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
}
